{% extends "layout/default.html.twig" %}
{% block content %}
<section class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 sm:py-32 lg:px-8 rounded-lg">
  <img src="https://images.unsplash.com/photo-1529101091764-c3526daf38fe?q=80&w=2340&auto=format&fit=crop" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover brightness-50" />
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{ title }}</h2>
    <p class="mt-6 text-lg leading-8 text-gray-300">{{ subtitle }}</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="#" class="rounded-md bg-emerald-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-emerald-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-500">{{ cta }}</a>
      <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
    </div>
  </div>
</section>
{{ svelte_component('Footer') }}
{% endblock %}
