{% extends "layout/default.html.twig" %}

{% block content %}

{# <div id="tailwind-hero"></div> #}

{{ svelte_component('Welcome', { greeting: "Ahoj z PHP" }, '<div>Načítavam...</div>') }}

{% endblock %}


