{% extends "layout/default.html.twig" %}

{% block content %}
<div id="svelte-app">
    {# Simple loading state - Svelte will replace this #}
    <div class="p-8 text-center">
        <div class="text-lg">Načítavam aplikáciu...</div>
    </div>
</div>

{# HTMX kontajner pre dynamický obsah #}
<div id="partial-content"
     hx-trigger="load"
     hx-get="/api/latest-content"
     hx-target="this">
    {# HTMX sem doplní obsah #}
</div>
{% endblock %}

{% block scripts %}
    {{ vite_entry_script_tags('resources/js/boot.ts') }}
{% endblock %}